{include file="admin_header.html"}
{include file="admin_menu.html"}
            <!-- 主内容区 -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">管理首页</h1>

                <!-- 社区概况 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-stats"></span> 社区概况
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <span class="glyphicon glyphicon-user huge"></span>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{$situation.userCount}</div>
                                                <div>注册用户数</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <span class="glyphicon glyphicon-signal huge"></span>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{$situation.onlineCount}</div>
                                                <div>在线用户</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 在线会员 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list"></span> 在线会员
                    </div>
                    <div class="panel-body">
                        {if $situation.onlineCount > 0}
                        <div class="row">
                            {foreach from=$situation.onlineUsers item=value}
                            <div class="col-md-3 col-sm-4">
                                <span class="label label-primary" style="margin: 5px; display: inline-block; padding: 8px 12px;">
                                    <span class="glyphicon glyphicon-user"></span> {$value.userName}
                                </span>
                            </div>
                            {/foreach}
                        </div>
                        {else}
                        <p class="text-muted">暂无在线用户</p>
                        {/if}
                    </div>
                </div>

                <!-- 系统环境 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-cog"></span> 系统环境
                    </div>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th width="150">程序版本</th>
                                <td>XSS Platform {$sysInfo.sys_version}</td>
                            </tr>
                            <tr>
                                <th>操作系统</th>
                                <td>{$sysInfo.serverOS}</td>
                            </tr>
                            <tr>
                                <th>服务器软件</th>
                                <td>{$sysInfo.serverSoftware}</td>
                            </tr>
                            <tr>
                                <th>PHP版本</th>
                                <td><span class="label label-info">{$sysInfo.phpVersion}</span></td>
                            </tr>
                            <tr>
                                <th>数据库版本</th>
                                <td><span class="label label-success">{$sysInfo.mysqlVersion}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
{include file="admin_footer.html"}
