            <!-- 侧边栏菜单 -->
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li{if $do=='admin_index' || $do==''} class="active"{/if}>
                        <a href="./"><span class="glyphicon glyphicon-dashboard"></span> 管理首页</a>
                    </li>
                    <li{if $do=='admin_module'} class="active"{/if}>
                        <a href="./index.php?do=admin_module"><span class="glyphicon glyphicon-th-list"></span> 公共模块审核</a>
                    </li>
                </ul>
            </div>
